@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["title"] = "Edit Role";
}
<h4>Edit role</h4>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label>
                    Name
                </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <a asp-action="Index">Back to list role</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



